@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");

* {
  font-size: 1.3rem;
  margin: 0;
}

// HEADER

header {
  background-color: lightblue;
  width: 100%;
  padding: 1rem;

  p {
    text-align: center;
    font-size: 1rem;
    color: white;
    font-weight: 500;
  }
}

// MAIN

main {
  width: 70%;
  margin: 0 auto;
}

.textContainer {
  margin-top: 20%;
  text-align: center;

  h1 {
    font-size: 3rem;
    margin: 3rem;
  }

  p {
    text-align: center;
    line-height: 3rem;
  }

  input {
    border: none;
    border-bottom: 2px dotted black;
    font-family: "Gochi Hand", cursive;
    color: darkblue;
    text-align: center;
  }

  button {
    background-color: yellow;
    font-family: serif;
    margin: 2rem;
    border: none;
    padding: 0.4rem 0.8rem;
  }

  .backToStart {
    background-color: pink;
  }
}

// FOOTER

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 1rem;
  background-color: gray;
  //   border: 4px solid lime;

  p {
    font-size: 0.8rem;
    text-align: center;
    color: white;
  }
}
