@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap");

* {
  font-size: 1.3rem;
  margin: 0;
}

//? HEADER

header {
  background-color: lightblue;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 0rem;

  p {
    text-align: center;
    font-size: 1rem;
    color: white;
    font-weight: 500;
  }
}

//? MAIN

main {
  // border: 5px dotted lime;
  height: 100vh;
  display: flex;
  align-items: center;

  .textContainer {
    // border: 5px dotted red;
    width: 90%;
    margin: 0 auto;
    text-align: center;

    h1 {
      font-size: 3rem;
      margin: 3rem;
      line-height: 3rem;
    }

    h3 {
      line-height: 3rem;
    }

    p {
      text-align: center;
      line-height: 3rem;
    }

    input {
      border: none;
      border-bottom: 2px dotted black;
      font-family: "Gochi Hand", cursive;
      color: darkblue;
      text-align: center;
    }

    button {
      background-color: yellow;
      font-family: serif;
      margin: 1rem;
      margin-top: 2rem;
      border: none;
      padding: 0.4rem 0.8rem;
    }

    .backToStart {
      background-color: pink;
      margin-top: 8rem;
      font-size: smaller;
    }

    .saveStoryBtn {
      background-color: lightgreen;
      font-size: smaller;
    }
  }
}

//? FOOTER

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0rem;

  p {
    font-size: 0.8rem;
    color: white;
  }

  .currentPage {
    color: lightblue;
    font-weight: bolder;
  }
}
